.jiraConfiguration {
  padding: 2.5em;
}

.jiraConfiguration__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.jiraConfiguration__header__title {
  font-weight: 500;
}

.jiraConfiguration__header__title__cta {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1.1px;
  padding: 0 1em;
}

.jiraConfiguration__info__list {
    margin: 0.5em auto;
    padding-left: 2em;
}

.jiraConfigurationTable {
  table-layout: fixed;
  width: 100%;
}

.jiraConfigurationTable__avatar {
  border-radius: 4px;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.jiraConfigurationTable__connectionLinks > :first-child {
  padding-left: 0;
}

.jiraConfigurationTable__syncStatus {
  border-radius: 5px;
  font-weight: bold;
  padding: 0.2em 0.3em;
}

.jiraConfigurationTable__pending {
  background-color: #dfe1e6;
  color: #42526e;
}

.jiraConfigurationTable__in-progress {
  background-color: #deebff;
  color: #0747a6;
}

.jiraConfigurationTable__complete {
  background-color: #e3fcef;
  color: #006644;
}

.jiraConfigurationTable__failed {
  background-color: #ffebe6;
  color: #bf2600;
}

.jiraConfigurationTable__refresh {
  font-weight: bold;
}

.jiraConfiguration__empty {
  margin: auto;
  max-width: 570px;
  padding: 6.5em 0;
  text-align: center;
}

.jiraConfiguration__empty__header {
  font-size: 1.6rem;
}

.jiraConfiguration__empty__message {
  font-size: 0.9rem;
  margin: 2em auto;
}

.jiraConfiguration__empty__image {
  width: 100%;
  max-width: 332px;
}
